@model StudentList.Core.Models.Group
@{
}
<br>
<div class="card-deck">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Plan zajęć</h5>
        </div>
        <a asp-controller="Timetables" asp-action="Index" asp-route-Id="@Model.Id" class="btn btn-primary">Zarządzaj</a>
    </div>
</div> 