@model IEnumerable<StudentList.Core.Models.Classroom>


<div class="container p-3">

    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Lista zajęć</h2>
        </div>
    </div>

    @if (Model?.Count() > 0)
    {

        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>Nazwa</th>
                    <th>Forma</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var classroom in Model)
                {
                    <tr>
                        <td>@classroom.Name</td>
                        <td>@classroom.Form</td>
                        <td>
                            <div>
                                <a asp-controller="Classrooms" asp-action="Edit" asp-route-Id="@classroom.Id" class="btn btn-primary">Edytuj</a>
                                <a asp-controller="Classrooms" asp-action="DeletePost" asp-route-Id="@classroom.Id" class="btn btn-danger">Usuń</a>
                            </div>
                        <td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>Lista jest pusta</p>
    }
    <div>
        <a asp-controller="Classrooms" asp-action="Add" class="btn btn-primary">Dodaj</a>
    </div>

</div>